.carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
}

.carousel .slide img {
    max-height: 800px;  /* change this to whatever you want */
    width: 100%;
    min-height: 800px;
}

